/***** Always True *****/
@media only screen {
    #controls { 
        padding: 20px;
        position: absolute;
        top: var(--nav-top);
        right: var(--nav-left);
        width:  var(--controls-width);
        border-radius: var(--border-radius);
        background-color: var(--bg-primary);
    }

    #controls > h1 {
        font-weight: 550;
        color: var(--font-color-primary);
        font-size: var(--font-size-title-large);
    }

    #controls h3 {
        font-weight: 400;
        color: var(--font-color-primary);
        font-size: var(--font-size-title-medium);
    }

    #controls model-viewer {
        width: 100%;
        height: 100%;
    }

    #controls textarea { 
        padding: 5px;
        resize: none;
        height: 100px;
        width: calc(100% - 10px);
        border-radius: var(--border-radius);
        border: 2px solid var(--bg-secondary);
    }

    #view-controls {
        padding: 0;
        width: 300px;
        height: 30px;
        position: absolute;
        border-radius: 40px;
        top: calc(var(--nav-top) / 2);
        background-color: var(--bg-primary);
        border: 1px solid var(--font-color-primary);
        left: calc(50% - 150px - 275px + 210px);
    }

    #view-controls button { 
        margin: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}